<section>
  <h2 class="text-2xl font-bold text-gray-900 mb-6">About Me</h2>
  <p class="mb-8 text-gray-700 leading-relaxed">
  I’m Joshua Zink-Duda, a software engineer who thrives on tackling ambiguous systems and turning them into something clear and maintainable.
  I enjoy automating tedious processes, eliminating friction, and designing solutions that scale.
  What motivates me most is applying these skills to problems that matter and projects where good engineering creates a positive impact on the world.
  </p>

  <h2 class="text-xl font-bold text-gray-900 mb-2">Skills</h2>
  <% skills_data.each_value do |section| %>
    <%= skill_section(section["title"], section["skills"]) %>
  <% end %>
</section>
