<section>

  <div class="flex items-center justify-between mb-6">
    <h2 class="text-2xl font-bold text-gray-900">About Me</h2>
    <%= link_to "Download Resume", resume_download_path, class: "px-4 py-2 bg-blue-900 text-white rounded-lg shadow hover:bg-black", target: "_blank", data: { turbo: false } %>
  </div>

  <p class="mb-8 text-gray-700 leading-relaxed">
  I’m Joshua Zink-Duda, a software engineer who thrives on tackling ambiguous systems and turning them into something clear and maintainable.
  I enjoy automating tedious processes, eliminating friction, and designing solutions that scale.
  What motivates me most is applying these skills to problems that matter and projects where good engineering creates a positive impact on the world.
  </p>

  <h2 class="text-xl font-bold text-gray-900 mb-2">Skills</h2>
  <% skills_data.each_value do |section| %>
    <%= skill_section(section["title"], section["skills"]) %>
  <% end %>
</section>
