<section class="hero">
  <h1>Software Engineer</h1>
  <p>Over 9 years of experience solving complex problems with lasting impact</p>
  <div class="hero-actions">
    <%= link_to "About Me", about_path, class: "btn btn-lg" %>
    <%= link_to "View My Work", work_path, class: "btn btn-lg" %>
    <%= link_to "Get in Touch", contact_path, class: "btn btn-lg" %>
  </div>
</section>
