<section class="text-center">
  <h1 class="text-3xl font-extrabold text-gray-900">
    Software Engineer
  </h1>
  <p class="mt-4 text-lg text-gray-600">
    Over 9 years of experience building scalable, maintainable systems.
  </p>
  <div class="mt-8 flex flex-col items-stretch space-y-4 sm:flex-row sm:justify-center sm:space-x-4 sm:space-y-0">
    <%= link_to "About Me", about_path, class: "px-6 py-3 text-lg font-semibold bg-blue-900 text-white rounded-lg hover:bg-black" %>
    <%= link_to "View My Work", work_path, class: "px-6 py-3 text-lg font-semibold bg-blue-900 text-white rounded-lg hover:bg-black" %>
    <%= link_to "Get in Touch", contact_path, class: "px-6 py-3 text-lg font-semibold bg-blue-900 text-white rounded-lg hover:bg-black" %>
  </div>
</section>
